<!--<settings>-->
<!--    <profiles>-->
<!--        <profile>-->
<!--            <id>github</id>-->
<!--            <repositories>-->
<!--                <repository>-->
<!--                    <id>github</id>-->
<!--                    <name>GitHub TobseF Apache Maven Packages</name>-->
<!--                    <url>https://maven.pkg.github.com/suriyaprakhash/lm4j</url>-->
<!--                </repository>-->
<!--            </repositories>-->
<!--        </profile>-->
<!--    </profiles>-->

<!--    <servers>-->
<!--        <server>-->
<!--            <id>github</id>-->
<!--&lt;!&ndash;            <username>${env.GITHUB_USERNAME}</username>&ndash;&gt;-->
<!--&lt;!&ndash;            <password>${env.GITHUB_TOKEN}</password>&ndash;&gt;-->
<!--&lt;!&ndash;            <username>suriyaprakhash</username>&ndash;&gt;-->
<!--            <username>suriyaprakhash</username>-->
<!--            <password>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</password>-->
<!--        </server>-->
<!--    </servers>-->
<!--</settings>-->
